<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav text-left">
      <li class="nav-item active">
        <%= link_to "Home", root_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Team", static_pages_team_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", static_pages_contact_path, :class => "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluide">
	<div class="text-center">
		<h1>Hello visiteur</h1>
		<p>Voici la liste des potins:</p>
	</div>
</div>



<div class="container">
	<div class="row">
		<% params[:gossip_array].each do |gossip| %>
		<div class="col-6 col-sm-4 col-md-4 col-lg-4 mt-5 align-items-center">
			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"><%= gossip.title %></h5>
			    <p class="card-text"><%= gossip.content %></p>
			    <p class="card-text">Écrit le <%= gossip.created_at %></p>
			    <%= link_to "Voir le Gossip", dynamic_pages_gossip_path(:id => gossip.id), class: 'btn btn-primary' %>
			  </div>
			</div>
		</div>
		<%end %>
	</div>
</div>

 
