<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><%= params[:gossip].title %></h5>
    <p class="card-text"><%= params[:gossip].content %></p>
    <p class="card-text"><%= params[:gossip].user.first_name %></p>
    <p class="card-text"><%= params[:gossip].user.city.name %></p>
    <p class="card-text">Écrit le <%= params[:gossip].created_at %></p>
    <%= link_to "Ajouter un commentaire", new_comment_path, :class => "btn btn-primary" %><br>
    <%= link_to "Éditer", edit_gossip_path, :class => "btn btn-success btn-sm" %><%= link_to "Supprimer", gossip_path, :class => "btn btn-danger btn-sm", :data => {:confirm => "Êtes-vous sur?(e)"}, :method => :DELETE %><br>
    <%= link_to "Afficher le profil", author_path, :class => "btn btn-primary" %>
  </div>
</div>
